<nav class="navbar">
  <a routerLink="/">
    <img src="../../../assets/Imgs/logo2.png" alt="" class="logo" />
  </a>
  <ul class="nav-link">
    <li class="dropdown">
      <a href="#" class="dropbtn">Home</a>
      <div class="dropdown-content">
        <a routerLink="">Screenshots</a>
        <a routerLink="">App Features</a>
        <a routerLink="">Reviews</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="#" class="dropbtn">Coaching Center</a>
      <div class="dropdown-content">
        <a routerLink="/savings">Saving</a>
        <a routerLink="/spending">Spending</a>
        <a routerLink="/credit">Credit</a>
      </div>
    </li>
    <li><a routerLink="/about">About Us</a></li>
    <li><a routerLink="/contact-us">Contact Us</a></li>
  </ul>
</nav>
