<div class="container">
  <div class="header">Privacy Policy</div>
  <div class="body">
    <h4>Privacy Policy</h4>
    <h4>Welcome! Thank you for visiting The SavingsBox Inc.</h4>
    <p>
      The SavingsBox Inc. (referred to as ” SavingsBox,” “we,” “our,” or “us”)
      provides a service that allows users to invite known friends /family
      members to pool funds together in groups and help channel users through
      our Partners to meet their spending goals. This privacy policy (“Privacy
      Policy”) explains our information privacy practices and the choices you
      can make about the collection, use, disclosure, and retention of
      information you submit or we collect through our website thesavingsbox.com
      and/or savingsBox mobile app. We specify in this Privacy Policy when the
      contents apply to our website or the savingsBox mobile app and we use the
      term “Site” when the contents apply to both. The Site is owned and
      operated by The SavingsBox Inc. <br />
      This Privacy policy is accessible on our website and SavingsBox mobile
      app.
    </p>
    <ul>
      <li>Scope and Consent</li>
      <p>
        When you use the Site, you are contracting with The SavingsBox Inc. By
        using the Site, you expressly consent to our collection, use,
        disclosure, and retention of your personal information as described in
        this Privacy Policy. Your use of the website and/or SavingsBox mobile
        app is also governed by the End-User License Agreement, and Terms of
        Use. Do not use the Site if you do not agree to these terms.
      </p>
      <li>Personal Information We Collect, Disclose for a Business Purpose</li>
      <p>
        In order to provide you better product and services, when you use the
        Site, we may collect or access certain personal identifiable information
        such as:
      </p>
    </ul>
  </div>
</div>
