<div class="container">
  <div class="header">
    <h2>Hi! I'm Savings Box</h2>
    <h2>Welcome to Our New Mobile App!</h2>
    <p>Helping You Save, Using the Power of Many!</p>
    <img
      src="../../../assets/Imgs/banner-mobile1.png"
      alt=""
      class="banner-mobile1"
    />
  </div>
  <div class="body"></div>

  <footer class="footer">
    <a routerLink="/privacyPolicy">Privacy Policy</a>
    <div class="vr"></div>
    <a routerLink="/termsOfUse">Terms of Use</a>
    <div class="vr"></div>
    <a routerLink="/eula">EULA</a>
    <div class="vr"></div>
    <a routerLink="/partner">Partner</a>
    <div class="container">
      <p>&copy; 2020 THE SAVINGSBOX INC.</p>
    </div>
  </footer>
</div>
