<div class="container">
  <div class="header">About Us</div>
  <div class="body">
    <p>
      The SavingsBox Inc. was founded in 2018 with the aim of creating an online
      platform to help solve the problem of savings in the U.S. and help users
      meet their spending goals. <br />
      <br />
      We foster savings by pooling each user’s strength to encourage other users
      to save to meet their savings goals <br />
      <br />
      How? Out of strength and accountability of many, we intend to help meet
      each user’s goals. <br />
      <br />
      We operate on the principles of inclusion, diversity, accountability,
      integrity, participation and respect for humanity.
    </p>
  </div>

  <footer class="footer">
    <a routerLink="/privacyPolicy">Privacy Policy</a>
    <div class="vr"></div>
    <a routerLink="/termsOfUse">Terms of Use</a>
    <div class="vr"></div>
    <a routerLink="/eula">EULA</a>
    <div class="vr"></div>
    <a routerLink="/partner">Partner</a>
    <div class="container">
      <p>&copy; 2020 THE SAVINGSBOX INC.</p>
    </div>
  </footer>
</div>
