.image-carousel {
  position: relative;
  width: 100%;
  max-width: 600px;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  width: 40%;
  height: auto;
  margin-left: 60%;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 1.2rem;
  padding: 10px;
  cursor: pointer;
  color: white;
}
.prev {
  margin-left: 45%;
}
.next {
  margin-left: 100%;
}
